.jobs-bg-container {
  background-color: #000000;
}

.jobs-bottom-container {
  padding: 20px;
  display: flex;
}

.horizontal-line {
  background-color: #ffffff;
  border-width: 1px solid;
  width: 300px;
}

.user-decision-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.employment-types-heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}

.employment-decision-container {
  list-style-type: none;
}

.recommended-jobs-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.search-button {
  background-color: transparent;
  border-width: 0;
}

.input-container {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  height: 40px;
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.jobs-user-input {
  background-color: transparent;
  border-width: 0;
  font-size: 14px;
  color: #ffffff;
}

.search-icon {
  height: 20px;
  background-size: cover;
  color: #ffffff;
}

.jobs-display-section {
  list-style-type: none;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.failure-img {
  height: 30vh;
  background-size: cover;
}

.failure-content {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.failure-reason {
  color: #64748b;
  font-size: 10px;
}

.retry-btn {
  color: #ffffff;
  font-size: 12px;
  background-color: #4f46e5;
  border-width: 0;
  border-radius: 2px;
  padding: 10px;
}

.loader-container {
  margin: 50px;
}

@media screen and (max-width: 767px) {
  .jobs-bg-container {
    width: 100vw;
  }

  .jobs-bottom-container {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 10px;
  }

  .jobs-user-input {
    width: 50px;
    order: 0;
  }

  .recommended-jobs-container {
    margin-left: 5px;
  }
}
